{% extends 'base.html.twig' %}

{% block title %}
	HotelHouse !
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success text-center">{{ message }}</div>
	{% endfor %}

	<h1 class="text-center">Nos {{ tabCommentaires|length }} avis</h1>

	<div class="text-center">
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Commentaires</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
			{% for commentaire in tabCommentaires %}
				<tr>
					<td>{{ commentaire.titre }}</td>
					<td>{{ tabCategories[commentaire.categorie - 1].titre }}</td>
					<td>{{ commentaire.commentaire }}</td>
					<td>{{ commentaire.DateEnregistrement|date("d M Y à H:m:s") }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
        <br><br>
		
	{% if app.user %}

		{{ form_start(formAvis, {
			attr: {
				novalidate: 'novalidate'
				}
			})
		}}
		<table class="table table-sm table-borderless">
			<thead>
				<th colspan="2">Formulaire de commentaire</th>
			</thead>
			<tr>
				<td class="fw-bold">
					{{ form_label(formAvis.titre, 'Titre')}}
				</td>
				<td class="fw-bold">
					{{ form_label(formAvis.categorie, 'Catégorie')}}
				</td>
			</tr>
			<tr>
				<td>
					{{ form_widget(formAvis.titre, {
						attr: {
							placeholder: "Titre du commentaire"
							}
					}) }}
				</td>
				<td>
					{{ form_widget(formAvis.categorie) }}
				</td>
			</tr>
			<tr>
				<td colspan="2" class="fw-bold">
					{{ form_label(formAvis.commentaire, 'Commentaire')}}
				</td>
			</tr>
				<td colspan="2">
					{{ form_widget(formAvis.commentaire, {
						attr: {
							placeholder: "Ecrivez votre commentaire ...",
							cols: '150',
							rows: '4'
							}
					}) }}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" class="btn btn-primary mt-2">Envoyer&nbsp;<i class="fa-regular fa-paper-plane"></i></button>
				</td>
			</tr>
		</table>
		{{ form_end(formAvis) }}

	{% else %}
		<a href="{{ path('app_login') }}" class="btn btn-success">
			Pour réserver
			<i class="fa-solid fa-moon"></i><br>
			Connectez vous
			<i class="fa-solid fa-arrow-right-to-bracket"></i><br>
		</a>
	{% endif %}
	</div>

{% endblock %}
