{% extends 'base.html.twig' %}

{% block title %}
	HotelHouse !
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success text-center">{{ message }}</div>
	{% endfor %}
	
	<div class="text-center">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Qui sommes-nous ?</th>
					<th>Accès</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span class="fw-bold">Hotel House ***</span> est un établissement touristique à l'atmosphère internationale et un traitement familial de catégorie 3 étoiles.
						Situé à Calella (Barcelone), il est idéal pour des vacances à la plage et permet un accès facile aux principaux centres touristiques de Catalogne: Barcelone. , Montserrat, Girona, le musée Dalí à Figueres, la Costa Brava, etc.
					</td>
					<td rowspan="3">
						<div class="mapouter">
							<div class="gmap_canvas">
								<iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=C/Valldebanador,%2031-37%20%2008370%20Calella%20(Barcelona)&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
								<a href="https://putlocker-is.org"></a><br><style>
									.mapouter {
										position: relative;
										text-align: right;
										height: 300px;
										width: 300px;
									}
								</style>
								<a href="https://www.embedgooglemap.net">google maps embed link</a>
								<style>
									.gmap_canvas {
										overflow: hidden;
										background: none !important;
										height: 300px;
										width: 300px;
									}
								</style>
							</div>
						</div>
					</td>
				</tr>
                <tr>
                    <th>Contact</th>
                </tr>
                <tr>
                    <td>
                        <span class="fw-bold">HOTEL HOUSE</span><br>
                        C/Valldebanador, 31-37<br>
                        08370 Calella (Barcelona)<br>
                        Tel:(+34) 937 691 991<br>
                        Fax: (+34) 937 661 316<br>
                        Email: <a href="mailto:info@hotelhouse.com">info@hotelhouse.com</a>
                    </td>
                </tr>
			</tbody>
		</table>

	{{ form_start(formMessage, {
			attr: {
				novalidate: 'novalidate'
				}
			})
		}}
		<table class="table table-sm table-borderless">
			<thead>
				<th colspan="4">Formulaire de contact</th>
			</thead>
			<tr>
				<td colspan="2" class="fw-bold">
					{{ form_label(formMessage.nom, 'Nom')}}
				</td>
				<td colspan="2" class="fw-bold">
					{{ form_label(formMessage.prenom, 'Prénom')}}
				</td>
			</tr>
			<tr>
				<td class="bg-info bg-opacity-10">
						&nbsp;<i class="fa-solid fa-pen fa-2x"></i>&nbsp;
				</td>
				<td>
					{{ form_widget(formMessage.nom, {
						attr: {
							placeholder: "Votre nom"
							}
					}) }}
				</td>
				<td class="bg-info bg-opacity-10">
						&nbsp;<i class="fa-solid fa-pen fa-2x"></i>&nbsp;
				</td>
				<td>
					{{ form_widget(formMessage.prenom, {
						attr: {
							placeholder: "Votre prénom"
							}
					}) }}
				</td>
			</tr>
			<tr>
				<td colspan="2" class="fw-bold">
					{{ form_label(formMessage.email, 'E-mail')}}
				</td>
				<td colspan="2" class="fw-bold">
					{{ form_label(formMessage.telephone, 'Téléphone')}}
				</td>	
			</tr>
				<td class="bg-info bg-opacity-10">
						&nbsp;<i class="fa-solid fa-at fa-2x"></i>&nbsp;
				</td>
				<td>
					{{ form_widget(formMessage.email, {
						attr: {
							placeholder: "Votre e-mail"
							}
					}) }}
				</td>
				<td class="bg-info bg-opacity-10">
						&nbsp;<i class="fa-solid fa-phone fa-2x"></i>&nbsp;
				</td>
				<td>
					{{ form_widget(formMessage.telephone, {
						attr: {
							placeholder: "Votre n° de téléphone"
							}
					}) }}
				</td>
			</tr>
			<tr>
				<td colspan="4" class="fw-bold">
					{{ form_label(formMessage.message, 'Votre message')}}
				</td>
			</tr>
			<tr>
				<td colspan="4">
					{{ form_widget(formMessage.message, {
						attr: {
							placeholder: "Ecrivez votre message ...",
							cols: '100',
							rows: '8'
							}
					}) }}
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<button type="submit" class="btn btn-primary mt-2">Envoyer&nbsp;<i class="fa-regular fa-paper-plane"></i></button>
				</td>
			</tr>
		</table>
	{{ form_end(formMessage) }}
	</div>

{% endblock %}
