{% extends 'base.html.twig' %}

{% block title %}
	HotelHouse !
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success text-center">{{ message }}</div>
	{% endfor %}
    {% for message in app.flashes('failed') %}
		<div class="alert alert-danger text-center">{{ message }}</div>
	{% endfor %}
    
	<!-- Carousel wrapper -->
	<div id="carouselAccueil" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-interval="5000">
		<div class="carousel-indicators">
        {% set flag = 'true'%}
        {% set ordreSlide = 1 %}
        {% for slider in sliders %}
            {% if flag %}
		    	<button type="button" data-bs-target="#carouselAccueil" data-bs-slide-to="{{ ordreSlide - 1 }}" class="active" aria-current="true" aria-label="Slide {{ ordreSlide }}"></button>
            {% else %}
                <button type="button" data-bs-target="#carouselAccueil" data-bs-slide-to="{{ ordreSlide - 1 }}" aria-label="Slide {{ ordreSlide }}"></button>
        {% endif %}
            {% set flag = 'false' %}
            {% set ordreSlide = ordreSlide + 1 %}
        {% endfor %}
		</div>
		<div class="carousel-inner">
        {% set active = 'active' %}
        {% for slider in sliders %}  
			<div class="carousel-item {{ active }}">
                <img src="{{ asset('images/slider/' ~ slider.photo ) }}" alt="slider.titre" class="d-block w-100 img-fluid">
				<div class="carousel-caption" style="background-color: rgba(0,0,0,.5); color: #fff; !important;">
					<h3 class="text-white fw-bold">{{ slider.titre }}</h3>
					<p class="text-white">{{ slider.texte }}</p>
				</div>
			</div>
             {% set active = '' %}
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccueil" data-bs-slide="prev">
            <span  style="background-color: rgba(0,0,0,.5); color: #fff; !important;" aria-hidden="true"><i class="fa-solid fa-backward fa-2x"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAccueil" data-bs-slide="next">
            <span  style="background-color: rgba(0,0,0,.5); color: #fff; !important;" aria-hidden="true"><i class="fa-solid fa-forward fa-2x"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!-- Carousel wrapper -->
<br><br>
<!-- Main -->
<div class="text-center">
    <table class="table table-borderless">
        <tr>
            <td><img class="rounded-circle" src="{{ asset('images/siteweb/hotel.jpg' ) }}" alt="Hôtel"></td>
            <td><img class="rounded-circle" src="{{ asset('images/siteweb/restaurant.jpg' ) }}" alt="Hôtel"></td>
            <td><img class="rounded-circle" src="{{ asset('images/siteweb/spa.jpg' ) }}" alt="Hôtel"></td>
        </tr>
        <tr class="fs-2">
            <td>Chambre</td>
            <td>Restaurant</td>
            <td>Spa</td>
        </tr>
        <tr class="fs-6">
            <td>Venez découvrir nos chambres pour votre plus grand confort !</td>
            <td>Nos plars sont confectionnés à la minute par notre chef cuisiner chaque jour.</td>
            <td>Détendez-vous et offrez vous un massage dont vous vous rappellerez longtemps.</td>
        </tr>
        <tr class="fs-6">
            <td><a href="{{ path('show_chambre') }}" class="btn btn-secondary">Découvrir les chambres</a></td>
            <td><a href="{{ path('show_restaurant') }}" class="btn btn-secondary">Visitez notre restaurant</a></td>
            <td><a href="{{ path('show_spa') }}" class="btn btn-secondary">Les soins</a></td>
        </tr>
    </table>
</div>
<!-- Main -->

{% endblock %}
