{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div>
		<table class="table table-borderless">
			<thead>
				<tr>
					<td`colspan="3">
						<h1 class="text-center">Nos {{ tabChambres|length }} types de chambres</h1>
					</td>
				</tr>
			</thead>
			<tbody>
            {% set switchAffichage = true %}
            {% for chambre in tabChambres %}
                <tr class="border-top">
                {% if switchAffichage %}
                    <td rowspan="2" class="align-middle">
                        <span class="fs-2">{{ chambre.titre }}</span><br>
                        {{ chambre.DescriptionCourte }}
                    </td>
                    <td  rowspan="2" class="align-middle">
                        <img src="{{ asset('images/chambre/' ~ chambre.photo ) }}" alt="{{ chambre.titre }}" class="img-fluid" width="200" height="200">
                    </td>
                    {% set switchAffichage = false %}
                {% else %}
                    <td  rowspan="2" class="align-middle">
                        <img src="{{ asset('images/chambre/' ~ chambre.photo ) }}" alt="{{ chambre.titre }}" class="img-fluid" width="200" height="200">
                    </td>
                    <td rowspan="2" class="align-middle">
                        <span class="fs-2">{{ chambre.titre }}</span><br>
                        {{ chambre.DescriptionCourte }}
                    </td>
                    {% set switchAffichage = true %}
                {% endif %}
                    <td class="align-middle">
                        <a href="{{ path('detail_chambre', {id: chambre.id }) }}" class="btn btn-info">Plus de détails&nbsp;<i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="align-middle">
                    {% if app.user %}
                        <a href="{{ path('chambre_add', {id: chambre.id }) }}" class="btn btn-success">Réserver&nbsp;<i class="fa-solid fa-moon"></i></a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-success">
                            Pour réserver
                            <i class="fa-solid fa-moon"></i><br>
                            Connectez vous
                            <i class="fa-solid fa-arrow-right-to-bracket"></i><br>
                        </a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
